<div class="page_wrap" >
    <header>
        <div class="header" >
            {{ page.header }}
        </div>
        <div class="navgation">
            <div class="page nav">
                {{ page.primary_menu }}
            </div>
            {% if page.secondary_menu %}
                <div class="page nav user">
                    {{ page.secondary_menu }}
                </div>
            {% endif %}
        </div>
    </header>
    <div class="content section">
        <div class="sidebar">
        </div>
        <div class="main">
            {{ page.content.length }}
        </div>
    </div>
</div>